@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    background-image: url('/bg.png');
    background-size:auto;
    background-position: center;
    background-attachment: fixed;
  }

  .tags{
    background-color: grey;
    margin-right: 15px;
    margin-top: 15px;
    padding: 8px 12px;
    display: inline;
    font-size: large;
  }

  @media (max-width:768px) {
    .tags {
      margin-right: 8px;
      margin-top: 8px;
      padding: 5px 8px;
    }
  }

}
